
{% include "base.html" %}



  
  <div style="position:absolute;z-index:10000;margin-top:1240px;margin-left:800px;border:green 0px solid;">

    <img src="/media/red_open1.jpg" border="0"/>
    
    </div>           


<div style="position:absolute;z-index:10000;margin-top:1240px;margin-left:500px;border:green 0px solid;">

<img src="/media/red1.jpg" border="0"/>

</div>

<div style="position:absolute;z-index:50;margin-top:850px;margin-left:20px;border:green 0px solid;">
 
  <img src="/media/Икра.png" border="0"/>
                                                
  </div>
  <div style="position:absolute;z-index:10000;margin-top:180px;margin-left:500px;border:green 0px solid;">
    <img src="/media/bb1.jpg" border="0"/>
    </div>
             

  

<h1> <p align="center">  Мы рады приветствовать Вас!</h1></p>

<br>

<br>

<h3> <p style="margin-left: 500px"><strong>Мы специализируемся на упаковке для:</strong></p> </h3> 



<div style="position:absolute;z-index:1;margin-top:180px;margin-left:20px;border:green 0px solid;">

  <div style=" width: 400px">
   


    <div>  <h4>   
      <p>* Ювелирных изделий и бижутерии
    
        <p>* Часов
      
      <p>* Косметики и парфюмерии
      
      <p>* Элитного алкоголя
     
      <p>* Подарков и сувениров
      
      <p>* Одежды и обуви
      
      <p>* Галантереи
      
      <p>* Кондитерских изделий
        
      </div>
</div>
  
  </div>           





  <div style="position:absolute;z-index:1;margin-top:1400px;margin-left:20px;border:green 0px solid;">

    <div style=" width: 1200px">
   

      <div>  <h4>
        <p>У нас вы можете заказать коробки различной конструкции, начиная от простой - самосборной, заканчивая эксклюзивной</p></div>
  </div>
    </div>  

             
              
       


<div style="position:absolute;z-index:10;margin-top:1000px;margin-left:100px;border:green 0px solid;">

  <div style=" width: 600px">

    <div style=" width: 600px">
   

      <div>  <h4>
        <p>* Напечатаем и правильно вложим в коробку содержимое
          <p>(инструкциии, карты и др.)</div>
  </div>

</div>




  <div style="position:absolute;z-index:1;margin-top:-550px;margin-left:500px;border:green 0px solid;">

    <div style=" width: 600px">
      

 <div>  <h4>
   <p>* Мы разработаем конструкцию
     <p>* Подберём материалы
       <p>* Сделаем пробный образец коробки
         <p>* Изготовим тираж на своем оборудовании
           <p>* Доставим готовую продукцию на Ваш склад</div>
</div>

</div>