{% include "base.html" %}

 <!--  www.youtube.com

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/N08nQMp0iFU" frameborder="0" allowfullscreen></iframe>
 </div>


-->



 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
 <html>
 <head>
   
 </head>
 
 <body>

   <video controls loop>
     <source src="media/box_production1.mp4" type="video/mp4">
    
     Your browser does not support the video tag.
   </video>
